:root {
    --dark-blue: #05386b;
    --dark-green: #379683;
    --green: #5cdb95;
    --light-green: #8ee4af;
    --light: #edf5e1;
}


.App {
    min-height: 100vh;
    background-color: var(--light-green);
}

.task-title {
    text-align: center;
    color: var(--dark-blue);
    font-weight: bold;
}

.list-group-item {
    background-color: #0000;
    border: none;
}

.card {
    background-color: var(--dark-green);
    color: var(--light);
}

.card-title {
    color: var(--light);
}

.text-muted {
    color: #dcdcdc!important;
}

.card-time {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    color: var(--light);
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}

.list-group-item > .btn-primary {
    width: 100%;
}

.modal {
    display: block;
    background-color: #0006;
}

.modal-title,
.modal-title input {
    width: 98%;
}

.modal-body textarea {
    width: 100%;
    resize: none;
}